<p id="notice"><%= notice %></p>

<p>
  <strong>Is business entity:</strong>
  <%= @provider.is_business_entity %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @provider.full_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @provider.city %>
</p>

<p>
  <strong>Address:</strong>
  <%= @provider.address %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @provider.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @provider.contact_phone %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
