<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h1>Archivos de Asistencia</h1>
  </div>
  <div class="ibox-content">

    <br>
    <div style="margin-bottom: 2em;">
      <div class="pag_right">
        <%= paginate @upload_files %>
      </div>
    </div>

    <div class="table-responsive overflow" tabindex="5005" style="overflow: hidden; outline: none;">
      <table class="tile table table-bordered table-hover">
        <thead>
        <tr>
          <th class="text-center">Propietario</th>
          <th class="text-center">Archivo</th>
          <th class="text-center">Fecha de Subida</th>
          <th class="text-center">Eliminar</th>
        </tr>
        </thead>

        <tbody>
        <% @upload_files.each do |upload_file| %>
            <tr>
              <td class="text-center">
                <% if upload_file.user.present? %>
                    <% if upload_file.user.username.present? %>
                        <%= upload_file.user.username %>
                    <% end %>
                <% else %>
                    Unknown
                <% end %>
              </td>
              <% if upload_file.file.present? %>
                  <td class="text-center"><%= link_to (upload_file.file_file_name), upload_file.file.url, target: '_blank' %></td>
              <% end %>

              <td class="text-center"><%= upload_file.created_at %></td>
              <td class="text-center"><%= link_to '<button class="btn btn-danger btn-xs" type="button"><i class="fa fa-trash-o"></i></button>'.html_safe, upload_file, method: :delete, data: {confirm: 'Are you sure?'} %> </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ibox-footer">
    <%= link_to 'Subir Archivo', new_upload_file_path, :data => {:no_turbolink => true}, :class => 'btn btn-w-m btn-primary dim' %>

    <h1><%= notice %></h1>
  </div>
</div>
