<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dashboard Asistencia</h2>
    <ol class="breadcrumb">
      <li>
        <a>Asistencia</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12">
                <h3 class="font-bold no-margins">
                  Mes en curso...
                </h3>
                <small>Seguimiento mensual.</small>
                <span class="pull-right">
              <i class="fa fa-clock-o"> </i>
              <small>Datos desde: <%= @period.strftime('%d %B %y') %></small>
            </span>
                <div class="dashboard-line"></div>
              </div>
              <div class="col-md-4">
                <h5>Puntualidad vs Retardos</h5>
                <canvas id="doughnutChart" height="140"></canvas>
              </div>

              <div class="col-lg-4">
                <h5>Top 10 Impuntualidad</h5>
                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>Empleado</th>
                    <th>Retrasos</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @top_delayed.each do |name, delays| %>
                    <tr>
                      <td class="font-bold"><i class="fa fa-level-down text-danger"></i> <%= name %></td>
                      <td><%= delays %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

              <div class="col-lg-4">
                <h5>Top 10 Puntualidad</h5>

                <table class="table table-hover no-margins">
                  <thead>
                  <tr>
                    <th>Empleado</th>
                    <th>Entradas Puntuales</th>
                  </tr>
                  </thead>
                  <tbody>
                  <% @top_punctual.each do |name, delays| %>
                    <tr>
                      <td class="font-bold"><i class="fa fa-level-up text-navy"></i> <%= name %></td>
                      <td><%= delays %></td>
                    </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="ibox float-e-margins">
          <div class="ibox-content">
            <div class="row">
              <div class="col-md-12">
                <h3 class="font-bold no-margins">
                  A través del año...
                </h3>
                <small>Seguimiento histórico anual.</small>
                <span class="  pull-right">
              <i class="fa fa-clock-o"> </i>
              <small>Datos desde: <%= @searched_months[0] %></small>
            </span>
                <div class="dashboard-line"></div>
              </div>
              <div class="col-md-10">

                <span id="months" style="display:none"><%= @searched_months %></span>
                <span id="on-time-punctuations" style="display:none"><%= @on_time_punctuations %></span>
                <span id="delayed-punctuations" style="display:none"><%= @delayed_punctuations %></span>
                <canvas id="lineChart" height="70"></canvas>
              </div>
              <div class="col-md-2">


              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

  <script type="text/javascript">

      $(function () {

          const availableMonths = JSON.parse($("#months").html())
          const onTimePunctuations = JSON.parse($("#on-time-punctuations").html())
          const delayedPunctuations = JSON.parse($("#delayed-punctuations").html())

          console.log(`Months: ${availableMonths} ${typeof availableMonths}`)
          console.log(`OnTime: ${onTimePunctuations}`)
          console.log(`Delayed: ${delayedPunctuations}`)

          //["ENE", 4], ["FEB", 8], ["MAR", 5], ["ABR", 10], ["MAY", 4], ["JUN", 16]

          var lineData = {
              labels: availableMonths,
              datasets: [
                  {
                      label: "Asistencias Puntuales",
                      backgroundColor: "rgba(26,179,148,0.5)",
                      borderColor: "rgba(26,179,148,0.7)",
                      pointBackgroundColor: "rgba(26,179,148,1)",
                      pointBorderColor: "#fff",
                      data: onTimePunctuations
                  },
                  {
                      label: "Asistencias Impuntuales",
                      backgroundColor: "rgba(250,3,3,0.5)",
                      borderColor: "rgb(163,61,61)",
                      pointBackgroundColor: "rgb(66,1,1)",
                      pointBorderColor: "#fff",
                      data: delayedPunctuations
                  }
              ]
          };

          var lineOptions = {
              responsive: true
          };


          var ctx = document.getElementById("lineChart").getContext("2d");
          new Chart(ctx, {type: 'line', data: lineData, options: lineOptions});


          var doughnutData = {
              labels: ["Retardos", "Puntuales"],
              datasets: [{
                  data: [90, 10],
                  backgroundColor: ["#57C8B1", "#D52F2F"]
              }]
          };


          var doughnutOptions = {
              responsive: true
          };


          var ctx4 = document.getElementById("doughnutChart").getContext("2d");
          new Chart(ctx4, {type: 'doughnut', data: doughnutData, options: doughnutOptions});

      });

  </script>
<% end %>