<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="col-sm-12">
    <div class="ibox">
      <div class="ibox-content row">
        <%= form_with(model: client, local: true) do |form| %>
          <% if client.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

              <ul>
                <% client.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :full_name, 'Nombre' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :full_name, autocomplete: 'off', class: 'form-control required', placeholder: 'Nombre' %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :address, 'Dirección' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :address, autocomplete: 'off', class: 'form-control required', placeholder: 'Dirección' %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :city, 'Municipio' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :city, autocomplete: 'off', class: 'form-control required', placeholder: 'Municipio' %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :contact_email, 'Correo Electronico' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :contact_email, autocomplete: 'off', class: 'form-control required', placeholder: 'Correo Electronico' %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :contact_phone, 'Teléfono' %>
            </div>
            <div class="col-md-6">
              <%= form.text_field :contact_phone, autocomplete: 'off', class: 'form-control required', placeholder: 'Teléfono' %>
            </div>
          </div>

          <div class="form-group col-md-6">
            <div class="col-md-3">
              <%= form.label :is_buisiness_entity, 'Persona Moral' %>
            </div>
            <div class="col-md-6">
              <%= form.check_box :is_buisiness_entity, class: ' required' %>
            </div>
          </div>

          <div class="actions col-md-12">
            <%= link_to 'Cancelar', clients_path, class: 'btn btn-white' %>
            <%= form.submit 'Crear', {class: 'btn btn-primary'} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
