<p id="notice"><%= notice %></p>

<p>
  <strong>Office number:</strong>
  <%= @client.office_number %>
</p>

<p>
  <strong>Member since:</strong>
  <%= @client.member_since %>
</p>

<p>
  <strong>Office address:</strong>
  <%= @client.office_address_id %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %>
