<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Dashboard General</h2>
    <ol class="breadcrumb">
      <li>
        <a>Inicio</a>
      </li>
      <li class="active">
        <strong>Dashboard</strong>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content  animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-10">
              <div>
                <h3 class="font-bold no-margins">
                  Puntualidad vs Impuntualidad
                </h3>
                <small>Seguimiento histórico anual.</small>
                <span class="  pull-right">
              <i class="fa fa-clock-o"> </i> <small> Datos desde: <%= @searched_months[0] %></small></span>
              </div>
              <span id="months" style="display:none"><%= @searched_months %></span>
              <span id="on-time-punctuations" style="display:none"><%= @on_time_punctuations %></span>
              <span id="delayed-punctuations" style="display:none"><%= @delayed_punctuations %></span>
              <canvas id="lineChart" height="70"></canvas>
            </div>
            <div class="col-md-2">
              <table class="table">
                <tbody>
                <tr>
                  <td>
                    <button type="button" class="btn btn-danger m-r-sm">12</button>
                    Retrasos
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-primary m-r-sm">28</button>
                    Puntuales
                  </td>
                </tr>
                <tr>
                  <td>
                    <button type="button" class="btn btn-info m-r-sm">15</button>
                    Total
                  </td>
                </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <div class="row">
            <div class="col-lg-3">
              <div class="widget style1" style="background-color: #f8ac59; color: white">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-user fa-4x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Préstamos Activos </span>
                    <h2 class="font-bold"><%= @active_loans_total %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="widget style1 navy-bg">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-dollar fa-4x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Monto Total Prestado </span>
                    <h2 class="font-bold"><%= number_with_delimiter(@total_loaned_amount.round(2), :delimiter => ',',
                                                                    :precision => 2) %></h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="widget style1 navy-bg">
                <div class="row">
                  <div class="col-xs-4">
                    <i class="fa fa-check-square-o fa-4x"></i>
                  </div>
                  <div class="col-xs-8 text-right">
                    <span> Préstamos Inactivos </span>
                    <h2 class="font-bold"><%= @inactive_loans_total %></h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<% content_for :javascript do %>

  <script type="text/javascript">

      $(function () {

          const availableMonths = JSON.parse($("#months").html())
          const onTimePunctuations = JSON.parse($("#on-time-punctuations").html())
          const delayedPunctuations = JSON.parse($("#delayed-punctuations").html())

          console.log(`Months: ${availableMonths} ${typeof availableMonths}`)
          console.log(`OnTime: ${onTimePunctuations}`)
          console.log(`Delayed: ${delayedPunctuations}`)

          //["ENE", 4], ["FEB", 8], ["MAR", 5], ["ABR", 10], ["MAY", 4], ["JUN", 16]

          var lineData = {
              labels: availableMonths,
              datasets: [
                  {
                      label: "Asistencias Puntuales",
                      backgroundColor: "rgba(26,179,148,0.5)",
                      borderColor: "rgba(26,179,148,0.7)",
                      pointBackgroundColor: "rgba(26,179,148,1)",
                      pointBorderColor: "#fff",
                      data: onTimePunctuations
                  },
                  {
                      label: "Asistencias Impuntuales",
                      backgroundColor: "rgba(250,3,3,0.5)",
                      borderColor: "rgb(163,61,61)",
                      pointBackgroundColor: "rgb(66,1,1)",
                      pointBorderColor: "#fff",
                      data: delayedPunctuations
                  }
              ]
          };

          var lineOptions = {
              responsive: true
          };


          var ctx = document.getElementById("lineChart").getContext("2d");
          new Chart(ctx, {type: 'line', data: lineData, options: lineOptions});


      });

  </script>
<% end %>