<div class="ibox float-e-margins">
  <%= form_for @degree do |form| %>

      <div class="ibox-title">
        <h1>Edit Degree</h1>
      </div>
      <div class="ibox-content">


        <div class="container">
          <% if @degree.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@degree.errors.count, 'error') %> prohibited this degree from being saved:</h2>

                <ul>
                  <% @degree.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group col-md-6">
            <div class="col-md-2">
              <%= form.label :description, class: 'control-label' %>
            </div>
            <div class="col-md-8">
              <%= form.text_field :description, class: 'form-control' %>
            </div>
          </div>
        </div>
      </div>
      <div class="ibox-footer">
        <div class="container">
          <div class="col-md-3">
            <%= link_to 'Back', degrees_path, class: 'btn btn-warning btn-block' %>
          </div>
          <div class="actions col-md-3">
            <%= form.submit 'Save', :class => 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div>
  <% end %>
</div>