<div class="wrapper wrapper-content animated fadeInRight ecommerce">


  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <%= form_with(model: loan, local: true, id: 'amortization-form') do |form| %>
          <div class="ibox-content">
            <div class="row">

              <% if loan.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

                  <ul>
                    <% loan.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="col-md-4">
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :employer_id, 'Empleado' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.collection_select :employer_id, Employer.order(:paternal_last_name), :id, :full_name,
                                               {:prompt => 'Empleado'}, {:class => 'form-control m-b required'} %>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :amount, 'Monto ($MXN)' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_field :amount, autocomplete: 'off', class: 'form-control required',
                                        :data => {:mask => '$ 999,999.99'}, id: 'amount_field',
                                        value: (loan.amount || '$ 001,000.00') %>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :monthly_term, 'Plazo (Meses)' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.number_field :monthly_term, autocomplete: 'off', class: 'form-control required',
                                          placeholder: 'Plazo', id: 'term_field', value: (loan.monthly_term || '12') %>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :interest_rate, 'Tasa de Interés (Anual)' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_field :interest_rate, autocomplete: 'off', class: 'form-control required',
                                        :data => {:mask => '99.99%'}, placeholder: 'Tasa de Interés',
                                        id: 'rate_field', value: (loan.formatted_interest || '04.50%') %>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :loan_date, 'Fecha de Préstamo' %>
                  </div>
                  <div class="col-md-6 form_datepicker" id="birthday_datepicker">
                    <div class="input-group date">
                      <%= form.text_field :loan_date, class: 'form-control required',
                                          :value => (loan.loan_date || Time.now.strftime("%Y/%m/%d")), id: 'date_field' %>
                      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>

                <div class="navy-line"></div>

                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :monthly_payment, 'Mensualidad' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_field :monthly_payment, autocomplete: 'off', class: 'form-control required',
                                        placeholder: 'Mensualidad', id: 'monthly_pay_field', :readonly => true %>
                  </div>
                </div>

                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <label for="interest_field">Intereses</label>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_field :total_interest, autocomplete: 'off', class: 'form-control required',
                                        placeholder: 'Intereses', id: 'interests_field', :readonly => true %>
                  </div>
                </div>
                <div class="form-group col-md-12">
                  <div class="col-md-6">
                    <%= form.label :total_amount, 'Monto Total' %>
                  </div>
                  <div class="col-md-6">
                    <%= form.text_field :total_amount, autocomplete: 'off', class: 'form-control required',
                                        placeholder: 'Total', id: 'total_field', :readonly => true %>
                  </div>
                </div>

                <div id="inputs_histories">
                </div>
                <button type="button" class="btn btn-info btn-block" id="btn_calcular">Calcular</button>
              </div>

              <div class="col-md-7">
                <div class="table-responsive">
                  <table class="table table-striped table-bordered table-hover dataTables-example" id="amortization_table">
                    <thead>
                    <tr>
                      <th>Fecha</th>
                      <th>Mensualidad</th>
                      <th>Interés</th>
                      <th>Balance</th>
                    </tr>
                    </thead>
                    <tbody>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div class="ibox-footer">
            <%= link_to 'Cancelar', loans_path, class: 'btn btn-white' %>
            <%= form.submit 'Crear', {class: 'btn btn-primary', id: 'submit_button', disabled: true} %>
          </div>
          </div>
        <% end %>

        </div>
  </div>
</div>


<% content_for :javascript do %>

  <script type="text/javascript">


      const dateOptions = {year: 'numeric', month: 'long', day: 'numeric'};

      function calculateAmortize(amount, rate, totalTerm, amortizeTerm) {
          return amortize({
              amount: amount,
              rate: rate,
              totalTerm: totalTerm,
              amortizeTerm: amortizeTerm
          });
      }

      function initDatepicker() {
          $('.form_datepicker').find('.input-group.date').datepicker({
              format: "yyyy-mm-dd",
              startView: 2,
              todayBtn: "linked",
              keyboardNavigation: false,
              forceParse: false,
              autoclose: true
          });
      }

      function loadTable() {

          $('.dataTables-example').DataTable({
              pageLength: 10,
              responsive: true,
              dom: '<"html5buttons"B>lTfgitp',
              buttons: [
                  {extend: 'excel', title: 'Prestamo (Tabla de Amortizacion)'},
                  {extend: 'pdf', title: 'Prestamo (Tabla de Amortizacion)'},

                  {
                      extend: 'print',
                      customize: function (win) {
                          $(win.document.body).addClass('white-bg');
                          $(win.document.body).css('font-size', '10px');

                          $(win.document.body).find('table')
                              .addClass('compact')
                              .css('font-size', 'inherit');
                      }
                  }
              ]

          });


      }

      function computeAmortization() {
          $('.dataTables-example').DataTable().clear();
          $('.dataTables-example').DataTable().destroy();
          const balance = parseFloat($('#amount_field').val()
              .replace(',', '')
              .replace('$', ''))
          const term = $('#term_field').val()
          const rate = $('#rate_field').val()
              .replace('%', '')

          const date = new Date($('#date_field').val());
          const table = document.getElementById("amortization_table").getElementsByTagName('tbody')[0];
          const inputs_histories = document.getElementById("inputs_histories");

          for (var i = table.children.length - 1; i >= 0; i--) {
              table.children[0].remove();
          }
          while (inputs_histories.hasChildNodes()) {
              inputs_histories.removeChild(inputs_histories.lastChild);
          }

          let totalPayment = 0;
          let jsonAmortize;

          let input_opts;
          for (let month = 0; month < term; month++) {
              jsonAmortize = calculateAmortize(balance, rate, term, month + 1)
              let row = table.insertRow(-1);
              console.log(jsonAmortize)

              let dateCell = row.insertCell(0);
              let monthlyPayCell = row.insertCell(1);
              let interestCell = row.insertCell(2);
              let totalCell = row.insertCell(3);

              const amount = jsonAmortize.paymentRound;
              const interest = Math.round((jsonAmortize.term.interest + Number.EPSILON) * 100) / 100;
              const remaining_amount = Math.round((jsonAmortize.balance + Number.EPSILON) * 100) / 100;

              dateCell.innerHTML = date.toLocaleDateString("en-US", dateOptions);
              monthlyPayCell.innerHTML = '$' + amount;
              interestCell.innerHTML = '$' + interest;
              totalCell.innerHTML = '$' + remaining_amount;

              input_opts = [
                  {"name": `histories[${month}][amount]`, "value": amount},
                  {"name": `histories[${month}][interest]`, "value": interest},
                  {"name": `histories[${month}][remaining_amount]`, "value": remaining_amount},
              ]

              for (let i in input_opts) {
                  let jsonInputValues = input_opts[i]

                  $('#inputs_histories')
                      .append(`<input type="hidden" name=${jsonInputValues.name} value=${jsonInputValues.value} />`);
              }

              date.setMonth(date.getMonth() + 1)
          }

          totalPayment = (jsonAmortize.principal + parseFloat(jsonAmortize.interestRound))

          $('#monthly_pay_field').val('$' + jsonAmortize.paymentRound)
          $('#interests_field').val('$' + jsonAmortize.interestRound)
          $('#total_field').val('$' + Math.round((totalPayment + Number.EPSILON) * 100) / 100)
          $('#submit_button').attr('disabled', false)
          loadTable();
      }

      $('#amortization-form').submit(computeAmortization)

      $('#btn_calcular').click(computeAmortization);

      initDatepicker();

  </script>

<% end %>