<% if employer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employer.errors.count, "error") %> prohibited this employer from being saved:</h2>

      <ul>
        <% employer.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for employer, :html => {:class => 'wizard-big', :id => 'form'} do |form| %>

    <h1>Datos Personales</h1>
    <fieldset>
      <h2>Datos Personales</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :first_name, 'Nombre(s)*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :first_name, class: 'form-control required', autocomplete: 'off', placeholder: 'Nombre' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :paternal_last_name, 'Apellido Paterno*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :paternal_last_name, class: 'form-control required', autocomplete: 'off', placeholder: 'Apellido Paterno' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :maternal_last_name, 'Apellido Materno*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :maternal_last_name, class: 'form-control required', autocomplete: 'off', placeholder: 'Apellido Materno' %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :birthday, 'Fecha de Nacimiento*', class: 'control-label' %>
              </div>
              <div class="col-md-8 form_datepicker" id="birthday_datepicker">
                <div class="input-group date">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <%= form.text_field :birthday, class: 'form-control required', autocomplete: 'off', :value => (employer.birthday || '01/01/1990') %>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :gender, 'Género*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :gender, [%w(Masculino 1), %w(Femenino 2)],
                                {:selected => @employer.gender, :prompt => 'Genero...'}, {:class => 'form-control m-b'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :marital_status, 'Estado Civil*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :marital_status, [%w(Soltero/a 1), %w(Casado/a 2), %w(Divorciado/a 3), %w(Viudo/a 4)],
                                {:prompt => 'Estado Civil'}, {:class => 'form-control m-b'} %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :rfc, 'RFC*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :rfc, class: 'form-control required', autocomplete: 'off', placeholder: 'RFC' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :curp, 'CURP*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :curp, class: 'form-control required', autocomplete: 'off', placeholder: 'CURP' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :nationality, 'Nacionalidad*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :nationality, class: 'form-control required', autocomplete: 'off', placeholder: 'Nacionalidad', :value => (employer.nationality || 'Mexicana') %>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :birthplace_country, 'País de Nacimiento*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :birthplace_country, class: 'form-control required', autocomplete: 'off', placeholder: 'País de Nacimiento', :value => (employer.birthplace_country || 'Mexico') %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :birthplace_city, 'Ciudad de Nacimiento*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :birthplace_city, class: 'form-control required', autocomplete: 'off', placeholder: 'Ciudad de Nacimiento' %>
              </div>
            </div>

            <div class="form-group col-md-3">
              <div class="col-md-8">
                <%= form.label :dependents_number, 'No. Dependientes*', class: 'control-label' %>
              </div>
              <div class="col-md-4">
                <%= form.text_field :dependents_number, class: 'form-control required', autocomplete: 'off' %>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :avatar, 'Foto de Perfil', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <label id="avatar-button" title="Upload image file" for="avatarImage" class="btn btn-danger">
                  <%= form.file_field :avatar, id: 'avatarImage', class: 'hide' %>
                  Select Image
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>

      <h2>Información Médica</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :diseases, 'Padecimientos', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :diseases, class: 'form-control', placeholder: 'Padecimientos...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :allergies, 'Alergias', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :allergies, class: 'form-control', placeholder: 'Alergias...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :blood_type, 'Tipo de Sangre*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :blood_type, [%w(A+ 1), %w(A- 2), %w(B+ 3), %w(B- 4), %w(AB+ 5), %w(AB- 6), %w(O+ 6), %w(O- 6)],
                                {:prompt => 'Tipo de Sangre...'}, {:class => 'form-control m-bt'} %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </fieldset>

    <h1>Formación y Empleo</h1>
    <fieldset>
      <h2>Empleo</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :identification_number, 'No. Empleado', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :identification_number, class: 'form-control required', placeholder: 'No. Empleado', autocomplete: 'off' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :entry_date, 'Fecha de Ingreso*', class: 'control-label' %>
              </div>
              <div class="col-md-8 form_datepicker">
                <div class="input-group date">
                  <%= form.text_field :entry_date, class: 'form-control required', :value => (employer.entry_date || '01/01/2020') %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :contract_number, 'No. Contrato*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contract_number, class: 'form-control required', placeholder: 'No. Contrato', autocomplete: 'off' %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :validity, 'Vigencia De Contrato*', class: 'control-label' %>
              </div>
              <div class="col-md-8 form_datepicker" id="birthday_datepicker">
                <div class="input-group date">
                  <%= form.text_field :validity, class: 'form-control required', :value => (employer.validity || '01/01/2021') %>
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :insurance_number, 'No. Seguro Social*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :insurance_number, class: 'form-control required', autocomplete: 'off', placeholder: 'No. Seguro Social' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :gross_salary, 'Sueldo Bruto*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :gross_salary, class: 'form-control', autocomplete: 'off', placeholder: 'Sueldo Bruto', disabled: true, :data => {:mask => '$ 999,999.99'} %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :net_salary, 'Sueldo Neto*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :net_salary, class: 'form-control', autocomplete: 'off', placeholder: 'Sueldo Neto', disabled: true, :data => {:mask => '$ 999,999.99'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :entrance_time, 'Hora de Entrada*', autocomplete: 'off', class: 'control-label' %>
              </div>

              <div class="col-md-8">
                <div class="input-group clockpicker" data-autoclose="true">
                  <%= form.text_field :entrance_time, class: 'form-control required', autocomplete: 'off', :value => (time_formatter(employer.entrance_time) || '09:00') %>
                  <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                </div>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :exit_time, 'Hora de Salida*', class: 'control-label' %>
              </div>

              <div class="col-md-8">
                <div class="input-group clockpicker" data-autoclose="true">
                  <%= form.text_field :exit_time, class: 'form-control required', autocomplete: 'off', :value => (time_formatter(employer.exit_time) || '19:00') %>
                  <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :degree_id, 'Puesto*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.collection_select :degree_id, Degree.order(:description), :id, :description, {:prompt => 'Puesto...'},
                                           {:class => 'form-control m-b required'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="checkbox checkbox-info checkbox-circle">
                <%= form.check_box :travel_capability, id: 'travel_capability', :value => (employer.travel_capability || 0) %>
                <label for="travel_capability">
                  Disponibilidad Para Viajar
                </label>
              </div>
            </div>

          </div>

        </div>
      </div>
      <h2>Formación Academica</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">
            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :curriculum_vitae, 'Curriculum Vitae', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <label id="curriculum-button" title="Upload image file" for="curriculumInput" class="btn btn-danger">
                  <%= form.file_field :curriculum_vitae, id: 'curriculumInput', class: 'hide' %>
                  Select File
                </label>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-3">
                <%= form.label :scholarship, 'Profesión*', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.text_field :scholarship, class: 'form-control required', placeholder: 'Profesión...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-3">
                <%= form.label :masters_description, 'Maestrías', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.text_field :masters_description, class: 'form-control', placeholder: 'Maestrías...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <div class="col-md-3">
                <%= form.label :phd_description, 'Doctorados', class: 'control-label' %>
              </div>
              <div class="col-md-9">
                <%= form.text_field :phd_description, class: 'form-control', placeholder: 'Doctorados...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>

            <div class="form-group col-md-6">
              <div class="col-md-2">
                <%= form.label :courses_description, 'Cursos', class: 'control-label' %>
              </div>
              <div class="col-md-10">
                <%= form.text_field :courses_description, class: 'form-control', placeholder: 'Cursos...',
                                    id: 'tags', :data => {:role => 'tagsinput'} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </fieldset>

    <h1>Contacto y Domicilio</h1>
    <fieldset>
      <h2>Información de Contacto</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :phone_number, 'Celular Institucional', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :phone_number, class: 'form-control', :data => {:mask => '(99) 9999-9999'}, autocomplete: 'off', placeholder: 'Celular Institucional' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :email, 'Correo Insitucional*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :email, class: 'form-control required', autocomplete: 'off', placeholder: 'Correo Institucional' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :personal_phone_number, 'Celular Personal*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :personal_phone_number, class: 'form-control required', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Celular Personal' %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :home_number, 'Telefono De Casa', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :home_number, class: 'form-control', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Telefono de Casa' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :personal_email, 'Correo Personal*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :personal_email, class: 'form-control required', autocomplete: 'off', placeholder: 'Correo Personal' %>
              </div>
            </div>

          </div>
        </div>
      </div>

      <h2>Domicilio</h2>
      <div class="navy-line"></div>
      <div class="row">
        <div class="col-md-12">
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :home_type, 'Tipo de Domicilio*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :home_type, [%w(Casa 1), %w(Departamento 2), %w(Otro 3)],
                                {:prompt => 'Tipo de Domicilio...'}, {:class => 'required form-control m-bt'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :home_financial_type, 'Estado de Domicilio*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :home_financial_type, [%w(Propio 1), %w(Rentado 2), %w(Familiar 3), %w(Otro 4)],
                                {:prompt => 'Estado de Domicilio...'}, {:class => 'required form-control m-bt'} %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :street, 'Calle*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :street, class: 'form-control required', autocomplete: 'off', placeholder: 'Calle' %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :country, 'Colonía*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :country, class: 'form-control required', autocomplete: 'off', placeholder: 'Colonía' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :city, 'Municipio o Alcaldía*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :city, class: 'form-control required', autocomplete: 'off', placeholder: 'Municipio o Alcaldía' %>
              </div>
            </div>

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :state, 'Estado*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :state, class: 'form-control required', autocomplete: 'off', placeholder: 'Estado' %>
              </div>
            </div>

          </div>
          <div class="row">

            <div class="form-group col-md-4">
              <div class="col-md-4">
                <%= form.label :postal_code, 'Codigo Postal*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :postal_code, class: 'form-control required', autocomplete: 'off', placeholder: 'Codigo Postal' %>
              </div>
            </div>

          </div>

        </div>
      </div>
    </fieldset>

    <h1>Familia y Relaciones</h1>
    <fieldset>
      <h2>Contactos de Emergencias</h2>
      <div class="navy-line"></div>
      <h3>1. Contacto o Referencia</h3>
      <div class="navy-line" style="margin: 0"></div>
      <br>
      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group col-md-3">
              <div class="col-md-3">
                <%= form.label :contact1_full_name, 'Nombre Completo*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact1_full_name, class: 'form-control required', autocomplete: 'off', placeholder: 'Nombre' %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact1_relationship, 'Parentesco*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :contact1_relationship, [%w(Padre 1), %w(Madre 2), %w(Hermano/a 3), %w(Hijo/a 4), %w(Esposo/a 5), %w(Amigo/a 6), %w(Otro 7)],
                                {:prompt => true}, {:class => 'required form-control m-bt'} %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact1_home_phone_number, 'Telefono de Casa*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact1_home_phone_number, class: 'form-control required', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Telefono Casa' %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact1_cellphone_number, 'Telefono Celular*', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact1_cellphone_number, class: 'form-control required', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Telefono Celular' %>
              </div>
            </div>

          </div>

        </div>
      </div>

      <h3>2. Contacto o Referencia</h3>
      <div class="navy-line" style="margin: 0"></div>
      <br>
      <div class="row">
        <div class="col-md-12">

          <div class="row">

            <div class="form-group col-md-3">
              <div class="col-md-3">
                <%= form.label :contact2_full_name, 'Nombre Completo', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact2_full_name, class: 'form-control', autocomplete: 'off', placeholder: 'Nombre' %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact2_relationship, 'Parentesco', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.select :contact2_relationship, [%w(Padre 1), %w(Madre 2), %w(Hermano/a 3), %w(Hijo/a 4), %w(Esposo/a 5), %w(Amigo/a 6), %w(Otro 7)],
                                {:prompt => true}, {:class => 'form-control m-bt'} %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact2_home_phone_number, 'Telefono de Casa', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact2_home_phone_number, class: 'form-control', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Telefono Casa' %>
              </div>
            </div>
            <div class="form-group col-md-3">
              <div class="col-md-4">
                <%= form.label :contact2_cellphone_number, 'Telefono Celular', class: 'control-label' %>
              </div>
              <div class="col-md-8">
                <%= form.text_field :contact2_cellphone_number, class: 'form-control', autocomplete: 'off', :data => {:mask => '(99) 9999-9999'}, placeholder: 'Telefono Celular' %>
              </div>
            </div>

          </div>

        </div>
      </div>

    </fieldset>


<% end %>

