<p id="notice"><%= notice %></p>
<div class="ibox float-e-margins">
  <div class="ibox-title">
    <h1>Employers</h1>
  </div>
  <div class="ibox-content">
    <div class="container">
      <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
          <% @employers.each do |employer| %>
              <div class="col-md-6">
                <div class="contact-box">
                  <a href="<%= url_for employer %>">
                    <div class="col-md-6">
                      <div class="text-center">
                        <img alt="image" class="show-profile-photo m-t-xm img-responsive" src="<%= image_path(employer.avatar.url(:thumb)) %>">
                        <br>
                        <div class="m-t-xs font-bold"><%= employer.degree.description %></div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <h3><strong><%= employer.first_name %>  <%= employer.last_name %></strong></h3>
                      <i class="fa fa-envelope"></i>
                      <strong><%= (employer.email.empty? ? '- ' : employer.email) %></strong>
                      <br>
                      <br>
                      <address>
                        <i class="fa fa-map-marker"></i>
                        <%= (employer.street.empty? ? '-' : employer.street) %>,
                        <%= (employer.city.empty? ? '-' : employer.city) %>.
                        <%= (employer.state.empty? ? '-' : employer.state) %>.
                        <%= (employer.cp.empty? ? '-' : employer.cp) %>.
                        <br>
                        <i class="fa fa-phone"></i>
                        <%= employer.phone_number %>
                        <br>
                        <br>
                        Contract Number: <%= employer.contract_number %>
                      </address>
                    </div>
                    <div class="clearfix"></div>
                  </a>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="ibox-footer">
    <%= link_to 'New Employer', new_employer_path, :class => 'btn btn-primary' %>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">

        $(function () {

            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });

        });

    </script>

<% end %>

