<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Employers</h2>
  </div>
</div>
<%= link_to 'New Employer', new_employer_path, :class => 'btn btn-primary btn-sm btn-block' %>

<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <% @employers.each do |employer| %>
        <div class="col-lg-4">
          <div class="contact-box">
            <a href="<%= url_for employer %>">
              <div class="col-sm-4">
                <div class="text-center">
                  <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
                  <div class="m-t-xs font-bold"><%= employer.degree.description %></div>
                </div>
              </div>
              <div class="col-sm-8">
                <h3><strong><%= employer.first_name %>  <%= employer.last_name %></strong></h3>
                <p><i class="fa fa-map-marker"></i> <%= employer.degree.description %></p>
                <address>
                  <strong><%= employer.email %></strong><br>
                  Solución XXI, Tlalnepantla. Estado de México<br>
                  Contract Number: <%= employer.contract_number %><br>
                  Phone: <%= employer.phone_number %>
                </address>
              </div>
              <div class="clearfix"></div>
            </a>
          </div>
        </div>
    <% end %>
    <div class="col-lg-4">
      <div class="contact-box">
        <div class="col-sm-4">
          <div class="text-center">
            <img alt="image" class="img-circle m-t-xs img-responsive" src="<%= image_path('a2.jpg') %>">
            <div class="m-t-xs font-bold">Graphics designer</div>
          </div>
        </div>
        <div class="col-sm-8">
          <h3><strong>John Smith</strong></h3>
          <p><i class="fa fa-map-marker"></i> Riviera State 32/106</p>
          <address>
            <strong>Twitter, Inc.</strong><br>
            795 Folsom Ave, Suite 600<br>
            San Francisco, CA 94107<br>
            <abbr title="Phone">P:</abbr> (123) 456-7890
          </address>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>

    <script type="text/javascript">

        $(function () {

            $('.contact-box').each(function () {
                animationHover(this, 'pulse');
            });

        });

    </script>

<% end %>

