<div class="row">
  <div class="show">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <div class="container row">
          <div class="col-lg-10">
            <h2>Perfil Empleado</h2>
            <ol class="breadcrumb">
              <li>
                <a href="<%= url_for :controller => 'employers', :action => 'index' %>">Listado de Empleados</a>
              </li>
              <li class="active">
                <strong><%= @employer.first_name %> <%= @employer.paternal_last_name %> <%= @employer.maternal_last_name %></strong>
              </li>
            </ol>
          </div>
        </div>
      </div>
      <div class="ibox-content">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="profile-content" style="height: 100%">
                <%= image_tag(@employer.avatar, width: 200, class: 'show-profile-photo m-t-xm img-responsive') if @employer.avatar.attached? %>
                <br>
                <h2 style="text-align: center">
                  <strong><%= @employer.first_name %>
                    <br/> <%= @employer.paternal_last_name %> <%= @employer.maternal_last_name %></strong>
                </h2>
                <div class="navy-line" style="margin-bottom: 15px"></div>

                <table class="table table-hover">
                  <tr>
                    <td><i class="fa fa-sitemap"></i><strong>Puesto: </strong></td>
                    <td><%= @employer.degree.nil? ? 'Puesto Desconocido' : @employer.degree.description %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-map-marker"></i> <strong>Numero de Contrato</strong></td>
                    <td><%= @employer.contract_number %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-institution"></i> <strong>Fecha de Ingreso</strong></td>
                    <td><%= @employer.entry_date %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-check"></i> <strong>Validez de Contrato</strong></td>
                    <td><%= @employer.validity %></td>
                  </tr>
                  <tr>
                    <td>
                      <i class="fa fa-map-marker"></i> <strong>Dirección</strong>
                    </td>
                    <td>
                      <%= (@employer.street.empty? ? '-' : @employer.street) %>,
                      <%= (@employer.country.empty? ? '-' : @employer.country) %>,
                      <%= (@employer.city.empty? ? '-' : @employer.city) %>.
                      <%= (@employer.state.empty? ? '-' : @employer.state) %>.
                      <%= (@employer.postal_code.empty? ? '-' : @employer.postal_code) %>
                    </td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-envelope"></i> <strong>Correo Corporativo</strong></td>
                    <td><%= @employer.email %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-phone"></i> <strong>Telefono Corporativo</strong></td>
                    <td><%= @employer.phone_number %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-envelope"></i> <strong>Correo Personal</strong></td>
                    <td><%= @employer.personal_email.empty? ? ' Email Desconocido ' : @employer.personal_email %></td>
                  </tr>
                  <tr>
                    <td><i class="fa fa-phone"></i> <strong>Telefono Personal</strong></td>
                    <td><%= @employer.personal_phone_number %></td>
                  </tr>
                </table>
                <div class="user-button" style="display: flex; justify-content: space-around">
                  <% if is_editor(current_user) %>
                    <%= link_to '<i class="fa fa-pencil fa-2x"></i>'.html_safe, edit_employer_path(@employer), :class => 'btn btn-primary' %>
                  <% end %>
                  <% if is_admin(current_user) %>

                    <% if @employer.user.nil? %>
                      <a type="button" class="btn btn-info" data-toggle="modal" data-target="#registerUserModal">
                        <i class="fa fa-bolt fa-2x"></i>
                      </a>
                    <% else %>
                      <a type="button" class="btn btn-info" data-toggle="modal" data-target="#rolesUserModal">
                        <i class="fa fa-shield fa-2x"></i>
                      </a>
                    <% end %>
                    <%= link_to '<i class="fa fa-trash fa-2x"></i>'.html_safe, @employer, :class => 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'} %>

                  <% end %>

                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div style="display: none" id="attendance-graph-data"><%= @attendance_report %></div>
              <div class="employer-data" style="overflow: scroll">

                <% if current_user.has_role? :admin %>
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      <h5>Estadisticas Generales</h5>
                    </div>
                    <div class="ibox-content">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="col-lg-3 col-md-2 col-xs-12 text-center">
                            <div class="btn btn-info btn-block">
                              <i class="fa fa-trophy fa-5x"></i>
                              <p><strong>Puntuación: 0</strong></p>
                            </div>
                          </div>

                          <div id="punctuation" class="col-lg-9 col-md-10">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Desempeño</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-info m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Puntualidad</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-info m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Asistencia</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-info m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Actitud</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-warning m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Calidad</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-danger m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Disponibilidad</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-danger m-r-sm">0</button>
                              </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 center-items">
                              <div class="col-md-10">
                                <p>Crecimiento</p>
                              </div>
                              <div class="col-md-2">
                                <button style="margin: 10px 0;" type="button" class="btn btn-danger m-r-sm">0</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>

                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Documentos</h5>
                  </div>
                  <div class="ibox-content">
                    <div class="row">
                      <div class="col-md-12">


                        <table class="table table-hover">
                          <tbody>
                          <% if @employer.curriculum_vitae.attached? %>
                            <tr>
                              <td class="project-status">
                                <span class="label label-primary">Curriculum</span>
                              </td>
                              <td class="project-title">
                                <%= link_to @employer.curriculum_vitae.filename, rails_blob_path(@employer.curriculum_vitae, disposition: 'attachment') %>
                                <br/>
                                <small>Actualizado: <%= @employer.curriculum_vitae.created_at %></small>
                              </td>
                              <td class="project-actions">
                                <%= link_to '<i class="fa fa-arrow-circle-down"></i> Descargar'.html_safe, rails_blob_path(@employer.curriculum_vitae, disposition: 'attachment'), class: "btn btn-white btn-sm" %>
                                <% if is_editor(current_user) %>
                                  <a href="#" class="btn btn-white btn-sm" disabled="true">
                                    <i class="fa fa-trash"></i> Eliminar
                                  </a>
                                <% end %>

                              </td>
                            </tr>
                          <% end %>

                          <% unless @employer.scholarship_attachments.nil? %>
                            <% @employer.scholarship_attachments.each do |upload| %>
                              <tr>
                                <td class="project-status">
                                  <span class="label label-primary">Profesión</span>
                                </td>
                                <td class="project-title">
                                  <%= link_to upload.filename, rails_blob_path(upload, disposition: 'attachment') %>
                                  <br/>
                                  <small>Creado <%= upload.created_at %></small>
                                </td>
                                <td class="project-actions">
                                  <%= link_to '<i class="fa fa-arrow-circle-down"></i> Descargar'.html_safe, rails_blob_path(upload, disposition: 'attachment'), class: "btn btn-white btn-sm" %>
                                  <% if is_editor(current_user) %>
                                    <a href="#" class="btn btn-white btn-sm" disabled="true">
                                      <i class="fa fa-trash"></i> Eliminar
                                    </a>
                                  <% end %>

                                </td>
                              </tr>
                            <% end %>
                          <% end %>

                          <% unless @employer.master_attachments.nil? %>
                            <% @employer.master_attachments.each do |upload| %>
                              <tr>
                                <td class="project-status">
                                  <span class="label label-primary">Maestría</span>
                                </td>
                                <td class="project-title">
                                  <%= link_to upload.filename, rails_blob_path(upload, disposition: 'attachment') %>
                                  <br/>
                                  <small>Creado <%= upload.created_at %></small>
                                </td>
                                <td class="project-actions">
                                  <%= link_to '<i class="fa fa-arrow-circle-down"></i> Descargar'.html_safe, rails_blob_path(upload, disposition: 'attachment'), class: "btn btn-white btn-sm" %>
                                  <% if is_editor(current_user) %>
                                    <a href="#" class="btn btn-white btn-sm" disabled="true">
                                      <i class="fa fa-trash"></i> Eliminar
                                    </a>
                                  <% end %>

                                </td>
                              </tr>
                            <% end %>
                          <% end %>

                          <% unless @employer.phd_attachments.nil? %>
                            <% @employer.phd_attachments.each do |upload| %>
                              <tr>
                                <td class="project-status">
                                  <span class="label label-primary">Doctorado</span>
                                </td>
                                <td class="project-title">
                                  <%= link_to upload.filename, rails_blob_path(upload, disposition: 'attachment') %>
                                  <br/>
                                  <small>Creado <%= upload.created_at %></small>
                                </td>
                                <td class="project-actions">
                                  <%= link_to '<i class="fa fa-arrow-circle-down"></i> Descargar'.html_safe, rails_blob_path(upload, disposition: 'attachment'), class: "btn btn-white btn-sm" %>
                                  <% if is_editor(current_user) %>
                                    <a href="#" class="btn btn-white btn-sm" disabled="true">
                                      <i class="fa fa-trash"></i> Eliminar
                                    </a>
                                  <% end %>

                                </td>
                              </tr>
                            <% end %>
                          <% end %>

                          <% unless @employer.courses_attachments.nil? %>
                            <% @employer.courses_attachments.each do |upload| %>
                              <tr>
                                <td class="project-status">
                                  <span class="label label-primary">Curso</span>
                                </td>
                                <td class="project-title">
                                  <%= link_to upload.filename, rails_blob_path(upload, disposition: 'attachment') %>
                                  <br/>
                                  <small>Creado <%= upload.created_at %></small>
                                </td>
                                <td class="project-actions">
                                  <%= link_to '<i class="fa fa-arrow-circle-down"></i> Descargar'.html_safe, rails_blob_path(upload, disposition: 'attachment'), class: "btn btn-white btn-sm" %>
                                  <% if is_editor(current_user) %>
                                    <a href="#" class="btn btn-white btn-sm" disabled="true">
                                      <i class="fa fa-trash"></i> Eliminar
                                    </a>
                                  <% end %>
                                </td>
                              </tr>
                            <% end %>
                          <% end %>

                          <% if is_editor(current_user) %>
                            <tr>
                              <td colspan="3" class="project-status">
                                <a type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#newAttachmentModal">
                                  <i class="fa fa-plus"></i> Agregar Documento
                                </a>
                              </td>
                            </tr>
                          <% end %>

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>


                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Gráfica de asistencias del mes</h5>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="flot-chart">
                          <div class="flot-chart-content" id="flot-dashboard-chart"></div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <ul class="stat-list">
                          <li>
                            <h2 class="no-margins " id="average-per-day-label">0 hrs</h2>
                            <small>Horas trabajadas / día (Avg)</small>
                          </li>
                          <li>
                            <h2 class="no-margins" id="total-worked-hours-label">0 hrs</h2>
                            <small>Horas Trabajadas (periodo)</small>
                            <div class="stat-percent"><label id="total-worked-hours-stat">0%</label>
                              <i class="fa fa-level-up text-navy"></i>
                            </div>
                            <div class="progress progress-mini">
                              <div style="width: 1%;" class="progress-bar"></div>
                            </div>
                          </li>
                          <li>
                            <h2 class="no-margins " id="delays-label">0 Delays</h2>
                            <small>Retardos (periodo)</small>
                            <div class="stat-percent">
                              <label id="delays-stat">0% </label><i class="fa fa-bolt text-navy"></i>
                            </div>
                            <div class="progress progress-mini">
                              <div style="width: 1%;" class="progress-bar"></div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="ibox">
                  <div class="ibox-title">
                    <h5>Tabla de Asistencias del Mes</h5>
                    <div class="ibox-tools">
                      <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                      </a>
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                      </a>
                    </div>
                  </div>
                  <div class="ibox-content">
                    <div class="row">
                      <div class="table-responsive">
                        <table class="table table-striped" id="attendance-table">
                          <thead>
                          <tr>

                            <th>Fecha</th>
                            <th>Hora de Entrada</th>
                            <th>Hora de Salida</th>
                            <th>Horas Trabajadas</th>
                          </tr>
                          </thead>
                          <tbody>

                          </tbody>
                        </table>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% if is_editor(current_user) %>
  <div class="modal inmodal fade" id="myModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title"> Agregar Justificación</h4>
        </div>
        <div class="modal-body">
          <p>
            <strong>Fecha de Incidente:</strong>
          </p>
          <p>
            <strong>Hora de Entrada:</strong>
          </p>
          <p>
            <strong>Hora de Salida:</strong>
          </p>
          <p>
            <strong>Horas Trabajadas:</strong>
          </p>

          <form enctype="multipart/form-data" action="/employers/1" accept-charset="UTF-8" method="post" role="application">

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if is_editor(current_user) %>
  <div class="modal inmodal" id="newAttachmentModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <%= form_tag({:controller => 'employers', :action => 'attach_document'}, method: 'put', multipart: true) do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i class="fa fa-file modal-icon"></i>
            <h4 class="modal-title">Agregar Documento</h4>
          </div>
          <div class="modal-body">

            <div class="row">
              <div class="form-group col-md-12">
                <div class="col-md-3">
                  <label for="document_type">Tipo de Documento</label>
                </div>
                <div class="col-md-6">
                  <select name="document_type" id="document_type" class="form-control m-bt">
                    <option value="1">Profesión</option>
                    <option value="2">Maestría</option>
                    <option value="3">Doctorado</option>
                    <option value="4">Curso</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="col-md-3">
                  <label for="attachment">Documento</label>
                </div>
                <div class="col-md-6">
                  <input type="file" id="attachment" name="attachment">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
              <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                <i class="fa fa-plus-square"></i> Agregar
              <% end %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if is_admin(current_user) %>
  <div class="modal inmodal" id="registerUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <%= form_tag({:controller => 'employers', :action => 'enable_user'}, method: 'post', multipart: true) do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i class="fa fa-bolt modal-icon"></i>
            <h4 class="modal-title">Habilitar Inicio de Sesión</h4>
          </div>
          <div class="modal-body">
            <div class="row">

              <div class="form-group col-md-12">
                <div class="col-md-4">
                  <label for="password">Contraseña</label>
                </div>
                <div class="col-md-8">
                  <input type="password" name="password" autocomplete="off" class="form-control" id="password">
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="col-md-4">
                  <label for="password_confirmation">Confirmar Contraseña</label>
                </div>
                <div class="col-md-8">
                  <input type="password" name="password_confirmation" autocomplete="off" class="form-control" id="password">
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
              <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                <i class="fa fa-bolt"></i> Habilitar
              <% end %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if is_admin(current_user) %>
  <div class="modal inmodal" id="rolesUserModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content animated bounceInRight">
        <%= form_tag({:controller => 'employers', :action => 'add_roles'}, method: 'put', multipart: true) do %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <i class="fa fa-bolt modal-icon"></i>
            <h4 class="modal-title">Asignación de Roles</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12">
                <div class="col-md-3">
                  <label for="general_grant">Generales</label>
                </div>
                <div class="col-md-6">
                  <%= select_tag 'input_roles[general]', options_for_select([%w(Estandar none), %w(Administrador admin)], @roles.general),
                                 include_blank: false, id: 'general_grant', class: "form-control m-bt" %>

                </div>
              </div>
              <div class="form-group col-md-12">
                <div class="col-md-3">
                  <label for="employers_grant">Empleados</label>
                </div>
                <div class="col-md-6">
                  <%= select_tag 'input_roles[employers]',
                                 options_for_select([['Sin Privilegios', 'none'], %w(Administrador employer_admin), %w(Editor employer_editor), %w(Visor employer_viewer)], @roles.employer),
                                 include_blank: false, id: 'employers_grant', class: "form-control m-bt" %>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
              <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
                <i class="fa fa-bolt"></i> Asignar
              <% end %>
            </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
