<p id="notice"><%= notice %></p>

<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2><%= @employer.first_name %> <%= @employer.last_name %></h2>
    <ol class="breadcrumb">
      <li>
        <a href="<%= url_for :controller => 'employers', :action => 'index' %>">Employers</a>
      </li>
      <li class="active">
        <strong>Profile</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-md-4">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Profile Detail</h5>
        </div>
        <div>
          <div class="ibox-content profile-content">
            <img alt="image" class="show-profile-photo m-t-xm img-responsive" src="<%= image_path(@employer.avatar.url(:medium)) %>">
            <br>
            <h2 style="text-align: center"><strong><%= @employer.first_name %> <%= @employer.last_name %></strong></h2>
            <p><i class="fa fa-map-marker"></i> <%= @employer.degree.description %></p>
            <h5>
              About me
            </h5>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
            </p>
            <div class="row m-t-lg">
              <div class="col-md-4">
                <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                <h5><strong>169</strong> Posts</h5>
              </div>
              <div class="col-md-4">
                <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                <h5><strong>28</strong> Following</h5>
              </div>
              <div class="col-md-4">
                <span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>
                <h5><strong>240</strong> Followers</h5>
              </div>
            </div>
            <div class="user-button">
              <div class="row">
                <div class="col-md-6">
                  <%= link_to 'Edit', edit_employer_path(@employer), :class => 'btn btn-primary btn-sm btn-block' %>
                </div>
                <div class="col-md-6">
                  <%= link_to 'Destroy', @employer, :class => 'btn btn-danger btn-sm btn-block', method: :delete, data: {confirm: 'Are you sure?'} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>Attendance</h5>
          <div class="ibox-tools">
            <a class="collapse-link">
              <i class="fa fa-chevron-up"></i>
            </a>
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-wrench"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#">Config option 1</a>
              </li>
              <li>
                <a href="#">Config option 2</a>
              </li>
            </ul>
            <a class="close-link">
              <i class="fa fa-times"></i>
            </a>
          </div>
        </div>
        <div class="ibox-content">
          <div style="display: none" id="attendance-graph-data"><%= @attendance_report %></div>
          <div class="row">
            <div class="col-lg-9">
              <div class="flot-chart">
                <div class="flot-chart-content" id="flot-dashboard-chart"></div>
              </div>
            </div>
            <div class="col-lg-3">
              <ul class="stat-list">
                <li>
                  <h2 class="no-margins" id="total-worked-hours-label">0 hrs</h2>
                  <small>Total Worked Hours</small>
                  <div class="stat-percent"><label id="total-worked-hours-stat">0%</label>
                    <i class="fa fa-level-up text-navy"></i>
                  </div>
                  <div class="progress progress-mini">
                    <div style="width: 48%;" class="progress-bar"></div>
                  </div>
                </li>
                <li>
                  <h2 class="no-margins " id="average-per-day-label"></h2>
                  <small>Average per day</small>
                </li>
                <li>
                  <h2 class="no-margins " id="delays-label">0</h2>
                  <small>Delays</small>
                  <div class="stat-percent"><label id="delays-stat">0% </label><i class="fa fa-bolt text-navy"></i>
                  </div>
                  <div class="progress progress-mini">
                    <div style="width: 22%;" class="progress-bar"></div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<% content_for :javascript do %>

    <script type="text/javascript">


        $(function () {

            $("span.pie").peity("pie", {
                fill: ['#1ab394', '#d7d7d7', '#ffffff']
            })

            $(".line").peity("line", {
                fill: '#1ab394',
                stroke: '#169c81',
            })

            $(".bar").peity("bar", {
                fill: ["#1ab394", "#d7d7d7"]
            })


        });


        function plotGraph(data) {
            var dataset = [
                {
                    label: "Worked Hours",
                    data: data,
                    color: "#1ab394",
                    bars: {
                        show: true,
                        align: "center",
                        barWidth: 24 * 60 * 60 * 600,
                        lineWidth: 0
                    }

                }
            ];


            var options = {
                xaxis: {
                    mode: "time",
                    tickSize: [1, "day"],
                    tickLength: 0,
                    axisLabel: "Date",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 10,
                    color: "#d5d5d5"
                },
                yaxes: [{
                    position: "left",
                    max: 15,
                    color: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Arial',
                    axisLabelPadding: 3
                }, {
                    position: "right",
                    clolor: "#d5d5d5",
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: ' Arial',
                    axisLabelPadding: 67
                }
                ],
                legend: {
                    noColumns: 1,
                    labelBoxBorderColor: "#000000",
                    position: "nw"
                },
                grid: {
                    hoverable: false,
                    borderWidth: 0
                }
            };

            $.plot($("#flot-dashboard-chart"), dataset, options);
        }

        function modifyAttendanceIndicators(workedHoursArray, delays) {
            var totalWorkedHours = 0;

            for (var i in workedHoursArray) {
                totalWorkedHours += workedHoursArray[i][1];
            }

            $('#total-worked-hours-label').text(Math.round((totalWorkedHours + Number.EPSILON) * 100) / 100);
            $('#delays-label').text(delays);
            $('#average-per-day-label').text(Math.round((totalWorkedHours / workedHoursArray.length + Number.EPSILON) * 100) / 100);

            var delaysPercentage = ((delays / workedHoursArray.length) * 100) + "%";
            var totalWorkedPercentage = ((Math.round((totalWorkedHours / (workedHoursArray.length * 8)) * 100) / 100) * 100) + '%';

            $('#total-worked-hours-stat').text(totalWorkedPercentage);
            $('#delays-stat').text(delaysPercentage);

        }

        function gatherData() {
            var json = JSON.parse($('#attendance-graph-data').text());
            var plotArray = [];
            var delays = 0;

            for (var i in json) {
                var date = new Date(json[i].date).getTime();
                var workedHours = json[i].worked_hours;

                if (plotArray.filter((function (n) {
                        return n[0] == date;
                    })).length == 0) {
                    if (json[i].entrance_time > '09:10:00') {
                        delays++;
                    }
                }
                plotArray.push([date, workedHours]);
            }

            modifyAttendanceIndicators(plotArray, delays);
            plotGraph(plotArray);
        }

        gatherData();


    </script>

<% end %>

