<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element">
          <span>
            <img alt="image" style="max-width: 50%" class="img-circle img-responsive" src="https://image.shutterstock.com/image-photo/unknown-male-person-silhouetteback-lit-260nw-235132504.jpg"/>
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold"><%= current_employer_name(current_user.id) %></strong>
                            </span>
                          <span class="text-muted text-xs block">
                            <%= (current_user.has_role? :admin) ? 'Administrador' : 'Usuario Estándar' %>
                            <b class="caret"></b></span>
                        </span>
          </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="">Perfil</a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to "<i class='fa fa-sign-out'></i>Cerrar Sesión".html_safe, destroy_user_session_path, :method => :delete %>
            </li>
          </ul>
        </div>
        <div class="logo-element">
          XXI
        </div>
      </li>
      <li class="<%= is_active_controller('home') %>">
        <%= link_to home_index_path do %>
          <i class="fa fa-home"></i> <span class="nav-label">Inicio</span>
        <% end %>
      </li>

      <% if has_employer_roles(current_user) or has_degree_roles(current_user) %>
        <li class="<%= is_active_controller('employers') %> <%= is_active_controller('degrees') %> <%= is_active_controller('departments') %>">
          <a href=""><i class="fa fa-users"></i> <span class="nav-label">Recursos Humanos</span>
            <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level <%= is_active_controller('employers') %>">
            <% if has_employer_roles(current_user) %>
              <li class="<%= is_active_controller('employers') %>">
                <%= link_to '<i class="fa fa-user"></i>Empleados'.html_safe, employers_path %>
              </li>
            <% end %>
            <% if has_degree_roles(current_user) %>
              <li class="<%= is_active_controller('degrees') %> <%= is_active_controller('departments') %>">
                <a href="#"><i class="fa fa-gear"></i>Organigrama <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                  <li class="<%= is_active_controller('degrees') %>">
                    <%= link_to '<i class="fa fa-sitemap"></i>Puestos'.html_safe, degrees_path %>
                  </li>
                  <li class="<%= is_active_controller('departments') %>">
                    <%= link_to '<i class="fa fa-sitemap"></i>Departamentos'.html_safe, departments_path %>
                  </li>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>

      <% if has_attendance_roles(current_user) %>
        <li class="<%= is_active_controller('upload_files') %>">
          <a href=""><i class="fa fa-upload"></i> <span class="nav-label">Manejo de Archivos</span>
            <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level <%= is_active_controller('upload_files') %>">
            <li class="<%= is_active_controller('upload_files') %>">
              <%= link_to '<i class="fa fa-check-circle-o"></i>Asistencia'.html_safe, upload_files_path %>
            </li>
          </ul>
        </li>
      <% end %>

      <% if has_accounting_roles(current_user) %>
        <li class="<%= is_active_controller('loans') %>">
          <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Contabilidad</span>
            <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level <%= is_active_controller('dashboards') %>">
            <li class="<%= is_active_controller('dashboards') %>">
              <%= link_to '<i class="fa fa-check-circle-o"></i>Dashboard'.html_safe, accountancy_dashboard_path %>
            </li>
          </ul>
          <ul class="nav nav-second-level <%= is_active_controller('loans') %>">
            <li class="<%= is_active_controller('loans') %>">
              <%= link_to '<i class="fa fa-check-circle-o"></i>Prestamos'.html_safe, loans_path %>
            </li>
          </ul>
        </li>
      <% end %>

      <% if has_report_roles(current_user) %>
        <li class="<%= is_active_controller('reports') %>">
          <a href=""><i class="fa fa-diamond"></i> <span class="nav-label">Reportes</span>
            <span class="fa arrow"></span></a>
          <ul class="nav nav-second-level <%= is_active_controller('dashboards') %>">
            <li class="<%= is_active_controller('dashboards') %>">
              <%= link_to '<i class="fa fa-check-circle-o"></i>Reporte Asistencia'.html_safe, attendance_report_path %>
            </li>
          </ul>
        </li>
      <% end %>

    </ul>

  </div>
</nav>